<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<title>
    Minuteman HTTP
</title>

<body>
    <div class="header">
    <h1 class="title_text istok-web-bold">
            Minuteman HTTP
        </h1>
    </div>
    <div class="container istok-web-regular">
        <p class="container_text">
            {{message|safe}}
        </p>
    </div>
</body>

</html>