<!DOCTYPE html>
<html lang="en">
    <%- include('./header.ejs') %>
    <body>
        <div class="container">
            <p>
                Cross Space Request Forge, forge and sent requests across space.
            </p>
        </div>
    </body>
    <%- include('./footer.ejs') %>
</html>