<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="views/headbounce.css">
</head>

<script src="views/utilfuncs.js"></script>

<script>

  function quote() {

    const quotes = [
      "Always stand on principle...even if you stand alone. - John Adams",
      "If you want something you've never had, you must be willing to do something you've never done.- Thomas Jefferson",
      "Well done is better than well said. - Benjamin Franklin",
      "The circulation of confidence is better than the circulation of money. - James Madison",
      "Distrust naturally creates distrust, and by nothing is good will and kind conduct more speedily changed. - John Jay",
      "Do you want to know who you are? Don't ask. Act! Action will delineate and define you.- Thomas Jefferson"
    ]

    let quote = quotes[getRandomInt(quotes.length)] + "\n\n I wonder if there are more of these in the HTML, JS, and CSS of this website..."

    alert(quote);
  }
  /* 1: MINUTEMAN{ */
  /* look for other parts of the flag in code of this static site! */
</script>

<body>

<div class="box"><b></b></div>

<center>
<br/>
Welcome to Sam the Minuteman's Daily Motivational Quote Page!

Click here for a motivational quote:

<div style="text-align:center">
  <button type="submit" class="btn" onclick="quote()">Quote me!</button>
</div>

</center>

</body>
</html>
<!-- 2: B3_R3V0 -->


